@model Mission08_0215.Models.TaskItem
@{
    ViewData["Title"] = "Add Task";
}

<!-- Assignment 2: Add/Edit Task View - to be built by the Views person -->
<h2>Add Task</h2>
<p>This view will be completed by the person responsible for Assignment 2 (Views - Create Task).</p>
