@model Mission08_0215.Models.TaskItem
@{
    ViewData["Title"] = "Edit Task";
}

<!-- Assignment 2: Edit Task View - to be built by the Views person -->
<h2>Edit Task</h2>
<p>This view will be completed by the person responsible for Assignment 2 (Views - Edit Task).</p>
